#popover-thumb {
  max-height: 210px;
  max-width: 210px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
}
li.tweet-box div.danger {
  padding:5px;
}

img.origin_pic {
  width:700px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}
