<br/><br/>
<div class="hero-unit">
  <h1>WeDiary says Hello!</h1>
  <br />
  <p>Browse your Tweets like never before! Rememeber the moments in your life.</p>
  <br />
  <p>
  <%= link_to image_tag("weibo_32.png"), "/users/connect" %>
  </p>
</div>

<div class="row">
  <div class="span6">
    <h2>Feature 1</h2>
    <p>
    <%= @crap %>
    </p>
  </div>
  <div class="span5">
    <h2>Feature 2</h2>
    <p>
    <%= @crap %>
    </p>
  </div>
  <div class="span5">
    <h2>Feature 3</h2>
    <p>
    <%= @crap %>
    </p>
  </div>
</div>

