<div class="topbar" style="margin-bottom:40px;color:#404040;">
  <div class="fill">
    <div class="container">
      <a style="float:left; padding-top:9px; padding-right:25px">
        <%= image_tag "/images/logo.png", :width => 80, :height => '22' %>
      </a>
      <ul>
        <li class="active"><%= link_to "Home", "/" %></li>
        <li><%= link_to "Friends' Story", "/tweets/friends_timeline" %></li>
        <li><%= link_to "About", "/users/welcome" %></li>
      </ul>
    </div>
  </div>
</div>

