<div class="topbar">
  <div class="fill">
    <div class="container">
      <h3><%= link_to "WeDiary", '/', :class => 'logo' %></h3>
      <ul>
        <li class="active"><%= link_to "Home", "/" %></li>
        <li><%= link_to "Friends' Story", "/tweets/friends_timeline" %></li>
        <li><%= link_to "About", "/users/welcome" %></li>
      </ul>
    </div>
  </div>
</div>

