<div class="topbar">
  <div class="fill">
    <div class="container">
      <a style="float:left; padding-top:7px; padding-right:40px">
        <%= image_tag "/images/logo.png", :height => '25' %>
      </a>
      <ul>
        <li class="active"><%= link_to "Home", "/" %></li>
        <li><%= link_to "Friends' Story", "/tweets/friends_timeline" %></li>
        <li><%= link_to "About", "/users/welcome" %></li>
      </ul>
    </div>
  </div>
</div>

